.forum-container{
  margin: 70px auto 0 auto;
  width: 90%;
}

.forum-body{
  margin: 30px 0 10px 0;
  width: 100%;
}
.title{
  font-size: 30px;
  margin: 0;
}

.mat-expansion-panel {
  margin-bottom: 10px !important;
}

.profile-picture{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px 0 0;
}

.answer-user-information{
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  justify-content: space-between;
}

.answer-body{
  background-color: #efefef;
  margin: 0 0 10px 0;
}

.forum-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bfh-button{
  color: #fff;
  background-color: #37556e;
}

.bfh-button-yellow{
  background-color: #ffcb3e;
  color: #37556e;
  width: 100%;
}

.bfh-button-red{
  color: #ffffff;
  background-color: #fe6464;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.form-container{
  display: flex;
  flex-direction: column;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.description{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

.label-title-textarea{
  margin: 0 0 10px 0;
}

.user-info{
  display: flex;
  align-items: center;
}

.more-icon{
  cursor:pointer;
}


/* ---------- edit dialog -----------*/


/* ------------- Edit Dialog ----------------- */
::ng-deep mat-dialog-container{
  padding: 0 !important;
}
.form-title{
  color: white;
  padding: 24px 24px 3px 24px;
  background-color: #37556e !important;
}

.dialog-container{
  padding: 16px 24px 24px 24px;
}

.label-title-textarea{
  margin: 0 0 10px 0;
}
textarea{
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.form-container{
  padding: 20px 20px 0 20px;
}
.link-container{
  padding-right: 10px;
  padding-top: 10px;
}

.upperSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.upperSection .input-wrapper{
  width: 45%;
}
.upperSection input{
  width: 90% !important;
}
.form-container-bottom h1{
  margin: 0;
}

.form-container-bottom img{
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  border-radius: 50%;
  top: -50px;
}

.form-container-bottom h1{
  text-align: center;
  font-size: 20px;
}

.form-container-bottom label{
  display: block;
}

.form-container-bottom div{
  margin-bottom: 20px;
}

.form-container-bottom input[type="text"], input[type="password"]{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background: transparent;
  color: #000;
  height: 40px;
}

.form-container-bottom input[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background-color: #ffcb3e;
  color: #37556e;

}
.form-container-bottom input[type="submit"]:hover{
  cursor: pointer;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #37556e;
  font-size: 12px;
  margin-top: 10px;
}
